<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- bootstrap -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Anton', sans-serif;
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
    }

    img {
      margin-top: 1rem;
      height: 50%;
    }

    .jumbotron {

      margin: 0;
      padding: 30px;
      background-image: linear-gradient(to right, #5637dd, blue);
      color: gold;
    }

    button {
      margin-bottom: 5px;
      width: 15vw;
      color: black;
    }

    a {

      text-decoration: none;
      color: black;
    }
  </style>
  <title>myhealthbubble.com</title>
</head>

<body>
  <header class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row row-content align-items-center">
        <div class="col col-8 col-sm-6">
          <h1>My Health Bubble <img src="https://freesvg.org/img/Hp.png" alt="" srcset="" style="width: 45px;"> </h1>
        </div>
        <% if(user) { %>
        <button><a href="/logout">Logout</a></button>
        <% } else { %>
        <div class="col"></div>
        <div class="col col-4 col-sm-4">
          <button class="btn-primary"><a href="/login">Login</a></button>

          <button class="btn-primary"><a href="/signup">Signup</a></button>
        </div>
        <% } %>
      </div>

    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col">
        <img
          src="https://images.pexels.com/photos/48604/pexels-photo-48604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          class="img-fluid" alt="healthcoverpic" srcset=""></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h2>About Us</h2>
      <p>My health bubble is an all in one health app.
        Keep track of your meals , weight, and activities.
        Helping you keep track of your progress. </p>
    </div>
  </div>
  <div class="container">
    <h2>Our Mission</h2>
    <p>Health is important! With a busy lifestyle its hard to keep track of yourself.
      We at Health Bubble aim to bring you a peace of mind knowing all your health care needs are in one place.
    </p>
  </div>
  <div class="container">
    <h2>Contact Us</h2>
    <p>We would love to hear your stories, feedback and/ or inquaries</p>
    <p>Reach out to us at <a href="mailto:">test@email.com</a> </p>
  </div>

</body>

</html>