<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
        <div class="row">
            <h1>Create New log</h1>
        </div>
        <div class="row">
            <form action="/trackedlogs" method="post">
                Activity: <input type="text" name="activity" required>
                Meal: <input type="text" name="meals">
                Weight: <input type="Number" name="weight">
                Symptoms: <input type="text" name="symptoms">
                <input class="button button-primary" type="submit" value="Add Log">
            </form>
        </div>

    </div>

</body>
</html>