<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <header>
        <div>
            <h1>Health Tracker</h1>
        </div>
        <div>
            <nav>
                <ul>
                    <li>
                        <button><a href="/trackedlogs/new">Add Log</a></button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <main>
        <div>
            <div>
                <button><a href="./edit.ejs">Edit</a></button>
            </div>
            <div>
                <button><a href="./">Delete</a></button>
            </div>
        </div>
        <div>
            <div>
                <h2>Log #1 ; time stamp</h2>
            </div>
            <div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque sunt aut praesentium. Expedita natus
                    magnam quisquam nesciunt cumque et illo asperiores mollitia minima recusandae exercitationem, quia
                    voluptas consectetur sapiente sequi.</p>
            </div>
        </div>
    </main>

</body>

</html>